---
---
<header class="bg-[#111322]">
	<div class="container mx-auto w-full px-[20px] py-[16px] origin-left flex items-center gap-3">
		<img width="32" height="32" src="/favicon.ico" class="mr-[1px] w-[24px] h-[24px] lg:w-[32px] lg:h-[32px]" />
		<a href="/" class="flex text-base lg:text-lg no-underline items-center">
			<span class="block text-white text-2xl font-light leading-[0.6] no-underline">Raymond Mora</span>
		</a>
	</div>
</header>